body {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #777;
}

.invoice-box {
    background-color: white;
    max-width: 650px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color:black;
}

.invoice-box h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.invoice-box p {
    margin: 0;
    padding: 0;
}

.billing-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.billing-info div {
    width: 50%;
}

.bank-info {
    text-align: left;
    margin-top: 20px;
    padding-left: 35px;
}

.bank-info p {
    margin: 5px 0;
    /* padding-left: 25px; */
}

table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    margin-top: 20px;
}

table th {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    padding: 10px;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.total {
    text-align: right;
    margin-top: 20px;
}

.total strong {
    font-size: 1.5em;
}
